@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MYBank - Online Banking</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Safe and Secure Banking</h2>
        <p>
            We have created a safe, secure way to do online banking.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Online Bill Payment</h2>
        <p>Go green and pay all your bills online. A simple way to register your bill payment</p>
        <p><a class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Easy Loan Processing</h2>
        <p>We provide full range of Loans for your personal and small business needs</p>
    </div>
</div>